<header class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap"><svg class="d-block" width="36" height="36" viewBox="0 0 612 612" xmlns="http://www.w3.org/2000/svg" focusable="false"><title>the_widening_gyre</title><path fill="currentColor"></path></svg>
  </a>
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link " href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Home');">the_widening_gyre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/coursework/index/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Coursework');">Coursework</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/notes/index" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Notes');">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/index" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Posts');">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/test/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'test');">test</a>
        </li>
      </ul>
    </div>
  </a>
</header>