///
/// anchors
///


h2::before {
  height: 70px;
  content: "";
  display:block;
}

h3::before {
  height: 70px;
  content: "";
  display:block;
}

button.btn.btn-primary {
  margin: 20px 20px;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

a.anchor-link {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}